/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; 
    color: #000000;
}

/* Header */
h1 {
    background-color: #2e51a2; 
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 2em;
}
/* genre on the index page */
.genre {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    text-align: center;
    margin: auto;
    
}

/* Ordered list*/
ol {
    padding-left: 20px;
}

li {
    margin-bottom: 30px;
    border: 1px solid #2e51a2; 
    padding: 15px;
    background-color: white;
    border-width: 5px;
}

/* Anchor Tags, Links */
a {
    color: #2e51a2; 
}


img {
    
    height: auto;
    margin: 15px 0;
    border-radius: 4px;
}

/* DIV for ordered list*/
.list {
    width: 600px;
    background-color: white;
    padding: 20px;
    border: 20px solid #2e51a2;
    margin-left: 400px;
    margin-right: 500px;
}

.list {
    text-align: center;
}
.SFBD {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0; /* MAKES THE PAGE ALIGN ON THE MIDDLE*/
    padding: 0;
    color: #000000;
}

.SFH1 {
    background-color: #2e51a2; /*Heading for SciFi*/
    
}
.TP {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; /*TOP PICKS*/
    text-align: center;
    margin: auto;
    font-size:x-largew
}
p a {
    padding: 10px 15px;
    background-color: #2e51a2;
    color: white;
    font-family: Arial, sans-serif;
}

a {
    padding: 10px 15px;
    background-color: #2e51a2;
    color: white;
    font-family: Arial, sans-serif;
}
* {
    background-color: white;
}
